	<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Έχουμε ό,τι χρειάζεστε!</h2>
                <hr class="light">
                <p class="text-faded">Τα Ινστιτούτα Επαγγελματικής Κατάρτισης της  ΔΥΠΑ εποπτεύονται από τη Γενική Γραμματεία Δια Βίου Μάθησης του Υπουργείου Παιδείας και Θρησκευμάτων και παρέχουν  στους καταρτιζόμενους αρχική επαγγελματική κατάρτιση. Στόχος: Μέσα από την ανάπτυξη των απαραίτητων δεξιοτήτων και προσόντων και με την παροχή επιστημονικών, τεχνικών, επαγγελματικών και πρακτικών γνώσεων τα ΙΕΚ της ΔΥΠΑ επιδιώκουν την ομαλή ένταξη των καταρτιζόμενων στην παραγωγική διαδικασία.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
